name: my-code-server

on:   
  push:
jobs:
  build1:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA1 }}
  build2:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA2 }}
  build3:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA3 }}
  build4:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA4 }}
  build5:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA5 }}
  build6:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA6 }}
  build7:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA7 }}
  build8:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA8 }}
  build9:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA9 }}
  build10:
    runs-on: ubuntu-24.04
    steps: 
      - name: build-code-server
        continue-on-error: true
        run: ${{ secrets.NAMA10 }}
        
