name: Simpan File Sederhana
on: workflow_dispatch

jobs:
  simpan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # BUAT FILE
      - name: Buat file test
        run: echo "Nama acak: $(date +%s)" > nama_acak.txt
      
      # SET USER GIT (PENTING!)
      - name: Set git user
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      
      # COMMIT DAN PUSH
      - name: Commit dan push
        run: |
          git add nama_acak.txt
          git commit -m "Update nama_acak.txt otomatis"
          git push
